body{
    color:#ffffff;
    background: #010a26;
    background-image: url("/images/background-tile.jpg");
    font-family: futura-std-light, helvetica;
}

a, a:visited{
	color: #7f0900;
}

.row {
    max-width: 100%;
}

.blue-line {
    background: #004669;
    height: 0.625em;
}

.menu {

    background: #0D0D0D;
    font-family: futura-std-heavy, helvetica;

}

.menu li {
    padding-top:0.9em;
    padding-bottom: 0.25em;
    text-align: center;
}

.menu a, .menu a:visited {
    color: #A4A4A5;
}

.menu a:active, .menu a:hover {
    font-weight: bold;
}

.menu-small ul {
	list-style-type: none;
}

.menu-small li {
	padding:0;
}


section {
    margin-top: 1.5em;
    background: #acb4bf;
    color: #17213b;
    padding: 1em;
}

h2 {
    margin: 0.1em 0 0.3em 0;
}

img#logotext {
    margin-top:2.5em;
}

div.nopadding {
    padding:0;
}

div#logomoon {
    margin-bottom: -1.875em;
}

ul {
	padding-left:2em;
}