body{
    color:#ffffff;
    background: #010a26;
    background-image: url("/images/background-tile.jpg");
    font-family: futura-std-light, helvetica;
}

.row {
    max-width: 100%;
    max-height: 100%;
}
/* =========header========= */

#logomoon, #logotext {
    text-align: right;
}

.blue-line {
    background: #004669;
    height: 0.625em;
}

div.nopadding {
    padding:0;
}

.nomargin {
    margin: 0;
}
/* =========menu========= */

.menu {
    background: #0D0D0D;
    font-family:  helvetica, futura-std-heavy;
    font-weight: bold;
    text-transform: capitalize;
}

.menu li {
    text-align: center;
    padding: 0;
}

.menu a {
    display: block;
    padding-top:0.9em;
    padding-bottom: 0.25em;
    color: grey;
}

.menu a:hover {
    background: #202021;
}

.menu a:visited {
    color: #A4A4A5;
}

.menu-small ul {
    list-style-type: none;
    padding:0;
    margin:0;
}

.menu-small li {
    padding:0;
}



/* =========content========= */

a, a:visited{
	color: #7f0900;
}

ul {
	padding-left:2em;
}


section {
    margin-top: 1.5em;
    background: #acb4bf;
    color: #17213b;
    padding: 1em 2em;
}

h3 {
    text-transform: capitalize;
    font-weight: bold;
}

img.mugshot {
	width:100%;
	max-width:260px;
}

img.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

